.homeSlider .slick-prev,
.homeSlider .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.homeSlider .slick-prev {
  left: 10px;
}

.homeSlider .slick-next {
  right: 10px;
}

.homeSlider .slick-prev::before,
.homeSlider .slick-next::before {
  font-size: 20px;
  color: white;
}

/* .homeSlider .slick-slide img {
  display: block;
  height: 70vh;
} */
